**Importing the Libraries**

In [51]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

**Reading the Dataset**

In [52]:
ccdata=pd.read_csv('/content/creditcard.csv')

In [53]:
ccdata.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [54]:
#dataset infomation
ccdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [55]:
#missing value in the dataset
ccdata.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

**Distribution of normal and fraud transactions**

In [56]:
ccdata['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [57]:
#separate the data
normal=ccdata[ccdata.Class==0]
fraud=ccdata[ccdata.Class==1]

In [58]:
normal.shape

(284315, 31)

In [59]:
fraud.shape

(492, 31)

**Building new Normal dataset containing similar distribution of normal and fraud transactions**

In [60]:
normal_sample=normal.sample(n=492)

In [61]:
#Concatenating the two dataset
new_dataset=pd.concat([normal_sample,fraud],axis=0)

In [62]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23334,32705.0,-0.725619,0.214936,-0.098592,0.316870,3.068862,3.469588,-0.295951,1.021052,-0.371377,...,-0.067408,-0.187081,-0.102559,1.012307,0.166833,-0.237405,0.394012,0.212737,9.35,0
380,279.0,-0.857063,0.204627,2.186985,-0.045589,0.472689,-0.187450,0.435892,0.010475,-0.182091,...,-0.237293,-0.611724,-0.190796,0.003336,0.212666,0.295664,-0.175260,-0.165614,19.29,0
153530,99325.0,2.058972,0.128677,-0.902313,0.602133,0.052002,-1.058646,0.143832,-0.446140,1.674020,...,-0.422966,-0.779528,0.347533,-0.046982,-0.302482,0.159217,-0.087600,-0.064925,0.89,0
204679,135392.0,-0.146052,0.137990,0.500156,-0.288341,0.208516,-0.362960,1.007551,-0.381682,1.162779,...,0.353429,1.616194,-0.250993,-0.024513,-0.642798,-0.172211,0.031964,0.021414,80.63,0
212409,138843.0,1.988379,0.040464,-1.865702,0.325747,0.381941,-0.803038,0.077306,-0.140597,0.151496,...,0.216369,0.624263,0.034082,0.716302,0.034060,0.622930,-0.077114,-0.038578,26.73,0

In [63]:
new_dataset.shape

(984, 31)

**Splitting the new_Dataset into X and Y**

In [64]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [65]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
23334,32705.0,-0.725619,0.214936,-0.098592,0.316870,3.068862,3.469588,-0.295951,1.021052,-0.371377,...,0.443072,-0.067408,-0.187081,-0.102559,1.012307,0.166833,-0.237405,0.394012,0.212737,9.35
380,279.0,-0.857063,0.204627,2.186985,-0.045589,0.472689,-0.187450,0.435892,0.010475,-0.182091,...,0.175356,-0.237293,-0.611724,-0.190796,0.003336,0.212666,0.295664,-0.175260,-0.165614,19.29
153530,99325.0,2.058972,0.128677,-0.902313,0.602133,0.052002,-1.058646,0.143832,-0.446140,1.674020,...,-0.211876,-0.422966,-0.779528,0.347533,-0.046982,-0.302482,0.159217,-0.087600,-0.064925,0.89
204679,135392.0,-0.146052,0.137990,0.500156,-0.288341,0.208516,-0.362960,1.007551,-0.381682,1.162779,...,-0.206304,0.353429,1.616194,-0.250993,-0.024513,-0.642798,-0.172211,0.031964,0.021414,80.63
212409,138843.0,1.988379,0.040464,-1.865702,0.325747,0.381941,-0.803038,0.077306,-0.140597,0.151496,...,-0.105126,0.216369,0.624263,0.034082,0.716302,0.034060,0.622930,-0.077114,-0.038578,26.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [66]:
Y

23334     0
380       0
153530    0
204679    0
212409    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

**Splitting the dataset into Training Data and Testing Data**

In [67]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

In [68]:
print(X_train,X_test,Y_train,Y_test)

            Time         V1         V2         V3        V4         V5  \
62829    50448.0  -1.357418   0.293186   1.667634 -2.940500  -1.021758
52533    45510.0  -0.806710   1.172413   1.762872  0.039449  -0.015919
56703    47545.0   1.176716   0.557091  -0.490800  0.756424   0.249192
150684   93888.0 -10.040631   6.139183 -12.972972  7.740555  -8.684705
6882      8808.0  -4.617217   1.695694  -3.114372  4.328199  -1.873257
...          ...        ...        ...        ...       ...        ...
39183    39729.0  -0.964567  -1.643541  -0.187727  1.158253  -2.458336
115476   73885.0  -1.201006  -1.687557  -0.492951 -0.267969  -2.314567
143335   85285.0  -6.713407   3.921104  -9.746678  5.148263  -5.151563
208837  137295.0   2.208285  -0.845871  -0.792760 -1.135225  -0.583822
17317    28625.0 -27.848181  15.598193 -28.923756  6.418442 -20.346228

              V6         V7         V8        V9  ...       V20       V21  \
62829  -0.456800   0.107914   0.663538  1.551739  ... -0.107033  0.053856
52533  -1.193848   1.175625  -0.239211 -0.587021  ... -0.202755  0.154630
56703  -0.781871   0.228750  -0.040840 -0.432111  ... -0.102772 -0.062166
150684 -3.837429 -11.907702   5.833273 -5.731054  ... -0.082275  2.823431
6882   -0.989908  -4.577265   0.472216  0.472017  ... -0.039046  0.481830
...          ...        ...        ...       ...  ...       ...       ...
39183   0.852222   2.785163  -0.303609  0.940006  ...  1.784449  0.447180
115476  0.100912   3.606074  -0.485478 -0.266961  ...  1.621409  0.463696
143335 -2.099389  -5.937767   3.578780 -4.684952  ...  0.135711  0.954272
208837 -0.292880  -0.862499  -0.151126 -0.195987  ...  0.107838 -0.006731
17317  -4.828202 -19.210896  18.329406 -3.668735  ...  1.697856  1.802149

             V22       V23       V24       V25       V26       V27       V28  \
62829   0.199413 -0.016908  0.093329  0.264922 -0.302552  0.184129  0.091904
52533   0.351447 -0.249724  0.917173  0.333170 -0.532386 -0.060196  0.094614
56703  -0.128168 -0.040176  0.110040  0.437891  0.368809 -0.018287  0.031173
150684  1.153005 -0.567343  0.843012  0.549938  0.113892 -0.307375  0.061631
6882    0.146023  0.117039 -0.217565 -0.138776 -0.424453 -1.002041  0.890780
...          ...       ...       ...       ...       ...       ...       ...
39183   0.536204  1.634061  0.203839  0.218749 -0.221886 -0.308555 -0.164500
115476 -0.014064  1.827908  0.354705  0.284441  0.904232 -0.426764 -0.038249
143335 -0.451086  0.127214 -0.339450  0.394096  1.075295  1.649906 -0.394905
208837 -0.037519  0.235318 -1.060927 -0.370535 -0.407888  0.015575 -0.044986
17317  -2.062934 -1.269843  0.165409  1.999499 -0.211059  1.324809  0.388090

        Amount
62829    75.31
52533    27.26
56703     0.76
150684    1.00
6882      1.10
...        ...
39183   776.83
115476  823.00
143335  252.92
208837   24.00
17317    99.99

[787 rows x 30 columns]             Time        V1        V2        V3        V4        V5        V6  \
230076  146179.0 -0.067672  4.251181 -6.540388  7.283657  0.513541 -2.635066
262826  160665.0 -0.417340  4.700055 -7.521767  7.671884  0.260821 -2.646693
238408  149656.0 -0.735635  0.819749  0.244145  0.472746 -0.066627  2.305175
30314    35866.0 -2.044489  3.368306 -3.937111  5.623120 -3.079232 -1.253474
199627  133060.0 -0.709582  1.692616 -1.653314 -0.746919  0.770918 -0.380152
...          ...       ...       ...       ...       ...       ...       ...
30176    35810.0 -2.799169 -2.048552  0.253526  0.096160  1.890563 -1.344236
6472      7740.0  1.023874  2.001485 -4.769752  3.819195 -1.271754 -1.734662
86632    61325.0  1.140222 -0.157289  0.703767  0.908482 -0.411450  0.544063
52466    45463.0 -1.476893  2.122314 -1.229470  1.201849 -0.343264 -1.317704
106756   70108.0 -0.359716  0.543700  1.503292 -0.923442  0.405246  0.264620

              V7        V8        V9  ...       V20       V21       V22  \
230076 -1.865911  0.780272 -3.868248  ...  0.519404  0.415437 -0.469938
262826 -2.854432  0.958783 -4.588536  ...  0.832035  0.622200 -0.437708
238408 -1.326663  1.560767 -0.142531  ... -0.084937  0.502068  1.505740
30314  -5.778880  1.707428 -4.467103  ...  1.112028  1.483594  0.834311
199627  0.267805  0.784680 -0.203190  ... -0.011032 -0.349334 -1.022892
...          ...       ...       ...  ...       ...       ...       ...
30176  -0.441629  0.631009  0.018621  ...  0.583595  0.315911 -0.498881
6472   -3.059245  0.889805  0.415382  ...  0.204138  0.343283 -0.054196
86632  -0.651536  0.293805  0.420747  ... -0.046395  0.091785  0.142573
52466  -1.528142 -0.620953 -1.213040  ...  0.276893  1.186036 -0.040215
106756  0.564300 -0.002899 -0.399455  ...  0.011501  0.040626  0.257011

             V23       V24       V25       V26       V27       V28  Amount
230076  0.007128 -0.388147 -0.493398  0.466468  0.566370  0.262990    0.77
262826 -0.090358 -0.742802 -0.312361  0.502575  0.821390  0.372379    0.77
238408  0.013405 -0.653161 -1.045782  0.555176 -0.053224  0.053412    1.00
30314  -0.148486  0.001669 -0.038996  0.389526  1.300236  0.549940    7.61
199627  0.073375 -0.409640 -0.172577  0.182086  0.090492 -0.002219    9.72
...          ...       ...       ...       ...       ...       ...     ...
30176   0.173407 -1.081881 -0.352449 -0.860269  0.034064 -0.286570  136.01
6472    0.709654 -0.372216 -2.032068  0.366778  0.395171  0.020206    1.00
86632  -0.186432 -0.872416  0.420801 -0.307154  0.043919  0.023381   45.00
52466  -0.238930  0.110144  0.045418 -0.569232  0.481019 -0.047555    1.00
106756 -0.089045 -0.213612 -0.403402  0.919274 -0.328227 -0.226716    7.68

[197 rows x 30 columns] 62829     0
52533     0
56703     1
150684    1
6882      1
         ..
39183     1
115476    0
143335    1
208837    0
17317     1
Name: Class, Length: 787, dtype: int64 230076    1
262826    1
238408    0
30314     1
199627    0
         ..
30176     0
6472      1
86632     0
52466     1
106756    0
Name: Class, Length: 197, dtype: int64

**Model Training-Logistic Regression**

In [69]:
model=LogisticRegression()

In [70]:
model.fit(X_train,Y_train)

LogisticRegression()

**Model Evaluation- Accuracy Score**

In [71]:
y_predict=model.predict(X_test)

In [72]:
acc=accuracy_score(Y_test,y_predict)

In [73]:
acc

0.9441624365482234